.main{
    width: 380px;
    height: 225px;
    background-color: white;
    //border-radius: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: inset 0 3em 3em rgb(255,255,255),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3); 
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.image{
    margin: 14px 0 0 0px;
    width: 127px;
    height: 196px;
}

.label{
    margin-top: 90px;
    width: 200px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}