.main{
    position: absolute;
    width: 1349px;
    height: 1773px;
    left: 0px;
    top: 961px;
    background: #F5F5F5;
}

.main > h3{
    position: absolute;
    width: 85px;
    height: 17px;
    left: 85px;
    top: 25px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
}

.cardGrid{
    position: absolute;
    top: 90px;
    left: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

.btn{
    position: absolute;
    width: 1180px;
    height: 49px;
    left: 85px;
    top: 1623px;
    padding-top: 16px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 0.708508px solid #E4E4E4;
    border-radius: 7px;
    cursor: pointer;
}


//tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .main{
        width: 768px;
        height: 2000px;
        left: 0px;
        top: 3440px;
    }
    
    .main > h3{
        width: 116px;
        height: 26px;
        left: 55px;
        top: 60px;
        font-size: 20px;
        line-height: 24px;
    }
    
    .cardGrid{
        top: 126px;
        left: 34px;
        height: 1700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        overflow: hidden;
    }
    
    .btn{
        width: 700px;
        height: 70px;
        left: 34px;
        top: 1850px;
        padding-top: 18px;
        font-size: 22px;
        line-height: 26px;
    }
}

//phone
@media (min-width: 320px) and (max-width: 767px) {
    .main{
        width: 375px;
        height: 1905px;
        left: 0px;
        top: 1675px;
    }
    
    .main > h3{
        width: 105px;
        height: 21px;
        left: 38px;
        top: 40px;
        font-size: 18px;
        line-height: 21px;
    }
    
    .cardGrid{
        top: 90px;
        left: 18px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
        height: 1705px;
        width: 375px;
        overflow: hidden;

    }
    
    .btn{
        width: 340px;
        height: 50px;
        left: 18px;
        top: 1823px;
        padding-top: 14px;
        font-size: 18px;
        line-height: 21px;
    }

    .phoneStyle{
        display: none;
    }
}