.main{
    margin-top: 100px;
    ul.slick-dots {
        width: auto;
        top: 50px;
        right: 65px;
        bottom: initial;
        li {
          width: 14px;
          height: 14px;
          margin: 0 0 0 20px;
          button {
            width: 14px;
            height: 14px;
            padding: 0;
            &:before {
              width: 14px;
              height: 14px;
              opacity: 1;
              font-size: 14px;
              line-height: initial;
              color: #fff;
            }
          }
          &.slick-active {
            button {
              &:before {
                font-size: 14px;
                color: #000;
              }
            }
          }
        }
      }
}

