.cardProducts{
    width: 280px;
    height: 461px;
    background-color: #E4E4E4;
    position: relative;
    background: #FFFFFF;
    border: 0.708508px solid #E4E4E4;
    box-shadow: 0px 0px 20px rgba(201, 201, 201, 0.25);
    border-radius: 14px; 
    overflow: visible;  
}

.massSelector{
    position: absolute;
    left: 159px;
    top: 15px;
    width: 93px;
    height: 110px;
}

.massSelector__wrapper{
    z-index: 100;
}

.firstLine{
    display: flex;
    flex-direction: row;
    width: 93px;
    height: 23px;
    background: #FFF7E1;
    border: 0.708508px solid #F9B300;
    border-radius: 4px;
    padding: 3px 0px 0px 22px;
}

.positionMassStart{
    display: inline;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}

.positionMass{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    padding: 3px 0px 3px 0px;
    border: 0.708508px solid #F9B300;
    border-radius: 4px;
    background-color: #FFF7E1;
    z-index: 100;
}

.btnSelect{
    transform: rotate(0.25turn);
    width: 8px;
    height: 3px;
    color: black;
    margin: 5px 18px 10px 20px;
    cursor: pointer;
}

.closeShow{
    display: none;
}

//конец описания селектора

//остальная часть карты

.discounts{
    position: absolute;
    width: 47px;
    height: 15px;
    left: 25px;
    top: 37px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #F9B300;
}

.imageMain{
    position: absolute;
    width: 120px;
    height: 218px;
    left: 25px;
    top: 66px;

}

//оценка зведами
.stars{
    position: absolute;
    width: 94px;
    height: 18px;
    left: 161px;
    top: 82px;
    display: flex;
    flex-direction: row;
}

.imageStar{
    width: 18px;
    height: 18px;
}
//_______________________

.grade{
    position: absolute;
    width: 23px;
    height: 17px;
    left: 161px;
    top: 106px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
}

.feedback{
    position: absolute;
    width: 53px;
    height: 11px;
    left: 188px;
    top: 110px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #5B5B5B;
}

//кофейные зерна
.coffeBeans{
    position: absolute;
    width: 89px;
    height: 13px;
    left: 161px;
    top: 141px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imageCoffeBeans{
    width: 13px;
    height: 13px;
}

//________________________

.sourness{
    position: absolute;
    width: 56px;
    height: 15px;
    left: 161px;
    top: 179px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
}

.bitterness{
    position: absolute;
    width: 55px;
    height: 15px;
    left: 161px;
    top: 219px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
}

.saturation{
    position: absolute;
    width: 89px;
    height: 15px;
    left: 161px;
    top: 259px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
}

.gradeBarSourness, .gradeBarBitterness, .gradeBarSaturation{
    position: absolute;
    width: 88px;
    height: 7px;
    left: 161px;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gradeBarBitterness{
    left: 161px;
    top: 240px;
}

.gradeBarSaturation{
    left: 161px;
    top: 280px;
}

.pointOn{
    width: 7px;
    height: 7px;
    background: #F9B300;
    border-radius: 50%;
}

.pointOff{
    width: 7px;
    height: 7px;
    background: #F0F0F0;
    border-radius: 50%;
}

//_________________________________

.coffeeName{
    position: absolute;
    width: 163px;
    height: 22px;
    left: 25px;
    top: 312px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
}

.coffeeLabel{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 25px;
    top: 342px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
}

//____________________________

.priceOld{
    position: absolute;
    width: 48px;
    height: 21px;
    left: 25px;
    top: 372px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: line-through;
    color: #C6C6C6;
}

.priceNew{
    position: absolute;
    width: 66px;
    height: 31px;
    left: 25px;
    top: 393px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #222222;
}

.btnToBin{
    position: absolute;
    width: 125px;
    height: 33px;
    left: 130px;
    top: 391px;
    background: #F9B300;
    border-radius: 4px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 9px;
}

.discount{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    top: -7px;

}

.noShow{
    display: none;
}

.discounts_tablet{
    display: none;
}

//tablet+phone
@media (min-width: 320px) and (max-width: 1024px) {
    
    .cardProducts{
        width: 340px;
        height: 552px;
    }
    
    .massSelector{
        left: 197px;
        top: 21px;
        width: 110px;
        height: 110px;
    }
    
    .massSelector__wrapper{
        z-index: 100;
    }
    
    .firstLine{
        width: 110px;
    }
    
    .positionMassStart{
        font-size: 16px;
        line-height: 19px;
    }
    
    .btnSelect{
        margin: 5px 18px 10px 27px;
    }
    
    .closeShow{
        display: none;
    }
    
    //конец описания селектора
    //остальная часть карты
    
    .discounts{
        display: none;
    }
    
    .discounts_tablet{
        position: absolute;
        width: 100px;
        height: 15px;
        left: 25px;
        top: 20px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #F9B300;
        display: initial;
    }

    .imageMain{
        width: 144px;
        height: 260px;
        left: 35px;
        top: 83px;
    }
    
    //оценка зведами
    .stars{
        left: 198px;
        top: 106px;
    }
    //_______________________
    
    .grade{
        left: 198px;
        top: 130px;
    }
    
    .feedback{
        left: 225px;
        top: 134px;
    }
    
    //кофейные зерна
    .coffeBeans{
        left: 198px;
        top: 165px;
    }

    //________________________
    
    .sourness{
        left: 198px;
        top: 203px;
    }
    
    .bitterness{
        left: 198px;
        top: 243px;
    }
    
    .saturation{
        left: 198px;
        top: 283px;
    }
    
    .gradeBarSourness, .gradeBarBitterness, .gradeBarSaturation{
        left: 198px;
        top: 224px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .gradeBarBitterness{
        left: 198px;
        top: 264px;
    }
    
    .gradeBarSaturation{
        left: 198px;
        top: 304px;
    }
    
   
    //_________________________________
    
    .coffeeName{
        width: 200px;
        height: 26px;
        left: 35px;
        top: 373px;
        font-size: 22px;
        line-height: 27px;
    }
    
    .coffeeLabel{
        width: 210px;
        height: 35px;
        left: 35px;
        top: 409px;
        font-size: 14px;
        line-height: 16px;
    }
    
    //____________________________
    
    .priceOld{
        display: none;
    }
    
    .priceNew{
        width: 71px;
        height: 34px;
        left: 35px;
        top: 473px;
        font-size: 26px;
        line-height: 32px;
    }
    
    .btnToBin{
        width: 149px;
        height: 40px;
        left: 153px;
        top: 470px;
        font-size: 16px;
        line-height: 19px;

    }
    
    .discount{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 25px;
        top: -7px;
    
    }
    
    .noShow{
        display: none;
    }
    
}
