.main{
    height: 1810px;
    position: relative;
    background: right top url("../products/images/bg1.png") no-repeat,
                left top 610px url("../products/images/bg2.png") no-repeat;
}

.image{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 1080px;
    left: 0px;
}