.title{
    margin: -60px 0 0 86px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
}

.image{
    margin: 50px 0 0 39px;
    width: 203px;
    height: 146px;
}

.titleItems{
    margin: 60px 0 0 23px;
    width: 234px;
    height: 21px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.item1,.item2{
    margin: 62px 0 0 84px;
    width: 280px;
    height: 381px;
    background: #FFFFFF;
    box-shadow: 0px 0px 21.2553px rgba(146, 146, 146, 0.2);
    border-radius: 14px;
}

.item2{
    margin: 62px 0 0 20px;
}

.catalogItems{
    display: flex;
    flex-direction: row;
}

.item1:hover {
    margin-top: 28px;
    height: 415px;
}
.item1:hover img{
    height: 195px;
    margin-top: 0px;
}

.item2:hover {
    margin-top: 28px;
    height: 415px;
}
.item2:hover img{
    height: 195px;
    margin-top: 0px;
}

div {
    transition: height 0.1s;
    transition: margin-top 0.5s;
}

img{
    transition: height 0.5s;
    transition: margin-top 0.5s;
}


.btn{
    margin: 35px 0 0 24px;
    width: 233px;
    height: 32px;
    background: #F9B300;
    border-radius: 3px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    display: none;
}

.btn:hover div{
    display: contents;
}

div{
    transition: display 0.1s;
}